__pycache__/
datasets/
runs/
models/
crops/
*.pt
*.engine
*.onnx
readings.jsonl
photos/
worst_*.jpg
grid.jpg
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[pP][nN][gG]
*.[hH][eE][iI][cC]
*.[hH][eE][iI][fF]
Miniforge3-*
